#root {
  margin: 16px;
}

section.fighterCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

section.fighterCard > div {
  width: 200px;
  padding: 8px;
  border: 3px solid whitesmoke;
  border-radius: 8px;
  text-align: center;
}


